body {

    color: #404040;


}

.jumbotron {
    background-image: url("../images/background.png");
    background-size: 100% 100%;
    text-align: left;
    color: #404040;
  }

  .bg-primary {
    background-color: #fcf6ed;
}

.panel > .panel-heading {
    background-color: #DDCBB7;
    border-color: #e2e2e2;
}

.panel-heading > .panel-title {
    color: #404040;
}

.panel > .panel-body {
    background-color: #f5f5f5;
}

.panel {
    border-color: #e2e2e2;
}